{% extends 'layouts/layout-adherent.html.twig' %}{%block title%}Espace adhérent{%endblock%} {% block body %}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Espace adhérent</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Service</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Demande de rechargement</span>
        </li>
    </ul>
    <div class="page-breadcrumb pull-right">
        <div class="badge badge-orange">
            Espace sécurisé <i class="fa fa-lock"></i>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Demande de rechargement de la carte VISA prépayée UBA </h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row">

    {% for message in app.session.flashbag.get('success') %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-block alert-success fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <p>
                    <stronng>{{message}}</stronng>
                </p>
            </div>
        </div>
    </div>
    {% endfor %} {% for message in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert"></button>
                <p>
                    <stronng>{{message}}</stronng>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-pencil-square-o font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> Formulaire de demande de rechargement</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">

                <form class="form-horizontal formSubmit" role="form" method="post" action="{{path('actionRechargement')}}" id="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Réf. Carte bancaire </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Référence carte bancaire" name="reference_carte" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">La somme à transférer </label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control separate" placeholder="Somme à transférer" name="somme" required>
                                    <span class="input-group-addon"> F CFA</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Le montant est disponible sur  </label>
                            <div class="col-md-5">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="compte_dispo" value="Compte d'épargne" id="chk_epargne"  checked>Compte d'épargne
                                                <span></span>
                                            </label>
                                    <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="compte_dispo" value="Autre compte" id="chk_dat"  > Autre compte
                                                <span></span>
                                            </label>
                                    <!--label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="compte_dispo" value="Accord de prêt" id="chk_pret" required > Accord de prêt
                                                <span></span>
                                            </label-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-md-4 control-label">Choisir un compte </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="compte" id="compte" required>
                                        <option value=""></option>
                                        {%for c in comptes%}
                                        <option value="{{c.produit}}">{{c.produit}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h4 id="montantCompte"></h4>
                                </div>
                        </div>
                        <!-- On rempli l'un des différents champs ci dessous -->
                        <!--div class="form-group " id="compte_epargne">
                            <label class="col-md-4 control-label">N°compte épargne </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Numéro compte d'épargne" name="numero_compte_epargne" id="numero_compte_epargne">
                            </div>
                        </div>
                        <div class="form-group " id="compte_dat">
                            <label class="col-md-4 control-label">N°compte DAT </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" placeholder="Numéro compte DAT" name="numero_compte_dat" id="numero_compte_dat">
                            </div>
                        </div>
                        <div class="form-group " id="accord_pret">
                            <label class="col-md-4 control-label">Par accord de prêt du </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control form-control-inline date-picker" placeholder="Date de l'accord de prêt" name="date_accord_pret" id="date_accord_pret">
                            </div>
                        </div-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Date de la demande</label>
                            <div class="col-md-5">
                                <input disabled type="text" class="form-control" placeholder="Date de souscription" value='{{ "now"|date("d/m/Y") }}'>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <button class="btn green btnSubmit" type="button">
                                    <i class="fa fa-check"></i> Valider</button>
                                <button type="reset" class="btn btn-default">Annuler</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%block stylesheets %}
<script>
    $(document).ready(function (e){

        $('#compte').on('change', function (e){
        $base_url = "http://10.109.19.235";
            
        $.ajax({

            url: $base_url+"/api-ma2e/web/api/v1/infosCompte/" + $(this).val(),
            type: "get",
            data: "libelleProduit = " + $(this).val(),
            datatype: 'application/json',

            success: function(res) {
                $('#montantCompte').text(res.data.montantdispo +" F CFA").addClass("font-yellow-gold bold");
            },
            
            });
        })
    })
</script>
{%endblock%}
{% endblock %}