{% extends 'base.html.twig' %}{%block title%}Projet Immobilier{%endblock%} {% block body %}

<section class="blog section-top-space">

    <i class="fa fa-newspaper-o background-icon"></i>

    <div class="center">
        <div class="lightBoxGallery">

            <ul class="recent-news">

                <li class="recent-news-single">
                    <div class=" col-lg-4 col-sm-6">
                        <div class="card">
                            <a href="{{asset('_assets/_img/events/ag-2019/AG_2019_01.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/ag-2019/AG_2019_01.JPG')}}" class="img-gallery"></a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/ag-2019/AG_2019_02.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/ag-2019/AG_2019_02.JPG')}}" class="img-gallery"></a>
                            </div>
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/ag-2019/AG_2019_03.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/ag-2019/AG_2019_03.JPG')}}" class="img-gallery"></a>
                            </div>
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/ag-2019/AG_2019_04.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/ag-2019/AG_2019_04.JPG')}}" class="img-gallery"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Assemblée générale 2019</h3>
                        <!-- <p>L'asssemblée générale s'est tenue à Sant'Egidio dans la commune de Treichville (Abidjan), le vendredi 8 juin 2018. -->

                        </p>
                    </div>
                </li>
            </ul>

            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>


        <div class="clear">
        </div>

    </div>

</section>

{% endblock %} {% block stylesheets %}
<style>
    @media (min-width: 1350px) {
        section.blog .recent-news {
            float: left;
            width: auto;
        }
    }
</style>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('_assets/_css/galerie.min.css')}}">
<script src="{{asset('_assets/_js/galerie.min.js')}}"></script>
{% endblock %}