{% extends 'base.html.twig' %}{%block title%} Événements{%endblock%} {% block body %}

<section class="double-content section-top-space">

    <div class="center">


        <h2>Imprimés de la MA2E</h2>
        <!--Ici nous rangerons les dépêches par ordre d'enregistrement decroissant-->
        <div class="container">

            <div class="row">
                <h4 style="font-size:24px"> <strong> Télécharger, Imprimer, Renseigner, Signer, Scanner et Envoyer votre demande à l’adresse de votre gestionnaire.</strong></h4>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande d’adhésion</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_D_ADHESION_ET_SOUSCRIPTION_PART_SOCIAL.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande d’épargne</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_D_EPARGNE.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande d’arrêt épargne</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_ARRET_EPARGNE.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande de souscription DAT</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_DE_SOUSCRIPTION_DATS.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande de souscription DATVP</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_DE_SOUSCRIPTION_DATAVP.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande d’arrêt de DAT</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_ARRET_DAT.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande de rechargement de carte bancaire</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_RECHARGEMENT_CARTE_BANCAIRE.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande de crédit ordinaire</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_DE_CREDIT_ORDINAIRE.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="documents">
                                <div class="document document-pdf">
                                    <i class="fa fa-file-pdf-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">Demande de crédit express</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                                <a target="_blank" download href="{{asset('_assets/files/documents/IMP_DEMANDE_DE_CREDIT_EXPRESS.pdf')}}" class="btn success">Télécharger</a>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row">
                <table class="table table-bordered">
                    <tr>
                        <th>Sociétés</th>
                        <th style="width: 500px">Détails</th>
                        <th>Gestionnaires MA2E</th>
                        <th>E.mail</th>
                        <th>Téléphones</th>
                    </tr>
                    <tr>
                        <td rowspan="3">CIE</td>
                        <td>DR ABOBO - DR YOPOUGON - DRE - DRC – DDMA - DRAS - DRAN - DRO - DRN</td>
                        <td>DJEDJERO NATACHA</td>
                        <td>nadjedjero@ma2e.ci</td>
                        <td>21-23-64-79</td>
                    </tr>
                    <tr>
                        <td>DG - DRH - DPS - DL - DFC - DSI - DCMD - DEE - DBCG - GS2E – DAE - DCD - DCC - DT - DED - DEXA - DEXI - DRSO - DRBC - DRCS - DRCO</td>
                        <td>ASSI AMON ANNA PATRICIA</td>
                        <td>apassi@ma2e.ci</td>
                        <td>21-23-64-91</td>
                    </tr>
                    <tr>
                        <td>CADRES DE DIRECTION</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>

                    <tr>
                        <td rowspan="2">SODECI</td>
                        <td>AGENTS DE MAITRISE <br> EMPLOYES OUVRIERS </td>
                        <td>AKPOUE  AFFOUET ROSABELLE</td>
                        <td>aakpoue@ma2e.ci</td>
                        <td>21-23-35-14</td>
                    </tr>
                    <tr>
                        <td>CADRES<br> CADRES DE DIRECTION </td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>

                    <tr>
                        <td>SIVE</td>
                        <td>TOUS</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>
                    <tr>
                        <td>GS2E</td>
                        <td>TOUS</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>
                    <tr>
                        <td>CIPREL</td>
                        <td>TOUS</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>
                    <tr>
                        <td>MA2E</td>
                        <td>TOUS</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>
                    <tr>
                        <td>SGA2E</td>
                        <td>TOUS</td>
                        <td>SEGUI KOUBA SERY PELAGIE-ANNICK</td>
                        <td>spkouba@ma2e.ci</td>
                        <td>21-23-64-89</td>
                    </tr>
                </table>
                    
            </div>
        </div>

        <div class="clear">
        </div>

    </div>



</section>

{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>

<style>
    /* Green */
    
    .card {
        margin-bottom: 30px;
    }
    
    .success {
        border-color: #4CAF50;
        color: green;
    }
    
    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
{% endblock %}