{% extends 'base.html.twig' %}{%block title%}Projet Immobilier{%endblock%} {% block body %}

<section class="blog section-top-space">

    <i class="fa fa-newspaper-o background-icon"></i>

    <div class="center">
        <div class="lightBoxGallery">

            <ul class="recent-news">

                <li class="recent-news-single">
                    <a href="{{asset('_assets/_img/projet-immo/duplex-4pieces-3d.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/projet-immo/duplex-4pieces-3d.jpg')}}" class="img-gallery"></a>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{asset('_assets/_img/projet-immo/plan-duplex-4pieces.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/projet-immo/plan-duplex-4pieces.jpg')}}" class="img-gallery"></a>
                        </div>
                        <div class="col-md-6">
                            <a href="{{asset('_assets/_img/projet-immo/plan-duplex-4pieces2.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/projet-immo/plan-duplex-4pieces2.jpg')}}" class="img-gallery"></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>

        <div class="sidebar">

            <div class="widget">

                <h3>Duplex 4 pièces</h3>
                <div style=" margin-bottom: 20px;">
                        <small style="color:#002510;"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
                </div>

                <div class="folded">
                    <h2 class="back-orange">24 000 000 FCFA</h2>
                </div>
                <div class="folded-lot">
                    <h2 class="back-white">Lot : 250 m<sup>2</sup></h2>
                </div>
                <div class="row top-50">
                    <table class="table ">
                        <tr>
                            <td>Apport Personnel</td>
                            <td>4 735 164 FCFA</td>
                        </tr>
                        <tr>
                            <td>Loyer mensuel</td>
                            <td>177 097 FCFA</td>
                        </tr>
                    </table>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">
                                REZ DE CHAUSSÉE
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Chambre Amis</td>
                        <td>15,50 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Séjour et salle à manger</td>
                        <td>25,88 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Cuisine</td>
                        <td>9,00 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Dégagement</td>
                        <td>3,80 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>WC</td>
                        <td>2,65 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>S.E</td>
                        <td>3,70 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Terrasse 1</td>
                        <td>6,0 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Terrasse 2</td>
                        <td>6,22 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Terrasse 3</td>
                        <td>3,10 m<sup>2</sup></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>Total RDC</td>
                            <td>75,85 m<sup>2</sup></td>
                        </tr>
                    </tfoot>
                </table>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">
                                ETAGE
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Chambre Parents</td>
                        <td>18,60 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Chambre 2</td>
                        <td>15,50 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Dégagement</td>
                        <td>2,60 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>SE 1</td>
                        <td>5,92 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>SE 2</td>
                        <td>2,75 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Dressing</td>
                        <td>6,45 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Balcon</td>
                        <td>6,00 m<sup>2</sup></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>57,82 m<sup>2</sup></td>
                        </tr>
                    </tfoot>
                </table>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Total RDC-Etage</th>
                        <th>133,67 m<sup>2</sup></th>
                    </tr>
                </table>
            </div>

        </div>

        <div class="clear">
        </div>

    </div>

</section>

{% endblock %} {% block stylesheets %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('_assets/_css/galerie.min.css')}}">
<script src="{{asset('_assets/_js/galerie.min.js')}}"></script>
{% endblock %}