{% extends 'base.html.twig' %} {%block title%}Projet immobilier{%endblock%} {% block body %}

<!-- Entête de la page-->
<section class=" section-top-space">
    <div class="row top-50">
        <div class="text-center">
            <h2 class="text-orange">Projet immobilier: 1ère tranche </h2>
        </div>
    </div>

</section>

<section class=" box-with-image-right section-gray" id="condition-attribution">

        <div class="center">
    
            <div class="image" style="background-image: url( '{{asset('_assets/_img/23.jpg')}}' );">
            </div>
    
            <div class="content">
                <h3>Conditions d'attribution des logements</h3>
                <p>Les critères d'attribution des logements sont les suivants:</p>
    
                <ol>
                    <li>
                        Être employé de l'une des sociétés (CIE, SODECI, CIPREL, GS2E, SGA2E et SIVE);
                    </li>
                    <li>
                        Être membre de la MA2E;
                    </li>
                    <li>
                        Avoir payé l'apport initial de 35% du coût correspondant au type de maison choisi;
                    </li>
                    <li>
                        Avoir une quotité disponible suffisante au moment de la mise en place du crédit (en prenant compte le crédit différé).
                    </li>
                </ol>
                <br>
    
                <p>
                    Pour arrêter la liste définitive des attributaires, si l'effectif du nombre de demandes es supérieur au nombre de logements disponibles, les critères complémentaires suivants seront appliqués:
                </p>
    
                <ol>
                    <li>
                        L'ordre d'inscription à l'opération immobilière concernée (date du premier paiement pour le type de maison choisi);
                    </li>
                    <li>
                        La qualité de membre actif qui sera mesurée par la régularité du membre dans la vie de la MA2E;
                    </li>
                    <li>
                        L'ancienneté du souscripteur;
                    </li>
                    <li>
                        Au cas où pour un type de maison donné, l'offre serait inférieure à la demande, les collaborateurs seraient prioritaires par rapport à leur hiérachie.
                    </li>
    
    
                </ol>
            </div>
    
            <div class="clear">
            </div>
    
        </div>
    
    </section>
<!--Section Dossier d'attribution-->
<section class="agents tabs section-top-space " id="dossier-attribution">
    <div class="center">
        <!-- Tabs -->

        <div class="row">
                <div class="row">
                    <div class="col-md-12">
                            <h3 style="margin-top:-20px">Logement du site SONGON KASSEMBLE (Route de Dabou)</h3>
                    </div>
            <div class="col-md-9">

                <table class="table table-bordered text-center table-striped">
                    <tr>
                        <th>Type de Logement</th>
                        <th>Superficie terrain</th>
                        <th>Coût en en FCFA </th>
                        <th>Apport Demande</th>
                        <th>Nombre de logements à attribuer</th>
                        <!-- <th>Nombre de logements à attribuer à la 1ère session</th>
                        <th>Reste à attribuer après la 1ère session</th>
                        <th>Nombre de logements attribués à la 2ème session</th>
                        <th>Observations</th> -->
                    </tr>
                    <tr>
                        <td>3 pièces jumelées <br> Type SOCIAL</td>
                        <td>120 m<sup>2</sup></td>
                        <td>9 600 000</td>
                        <td>3 360 000</td>
                        <td>46</td>
                        <!-- <td>32</td>
                        <td>14</td>
                        <td>14</td>
                        <td>Nous avons obtenu 8 logements en plus pour satisfaire des demandes. Total attribué 46 au lieu de 38 initialement.</td> -->
                    </tr>
                    <tr>
                        <td>2 pièces jumelées </td>
                        <td>&nbsp;</td>
                        <td>7 500 000</td>
                        <td>2 625 000</td>
                        <td>2</td>
                        <!-- <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>Nous avons obtenu 2 logements de 2 pièces en plus pour de nouvelles demandes. </td> -->
                    </tr>
                    <tr>
                        <td>3 pièces jumelées <br> Type économique</td>
                        <td>150 m<sup>2</sup></td>
                        <td>12 000 000</td>
                        <td>4 200 000</td>
                        <td>26</td>
                        <!-- <td>11</td>
                        <td>15</td>
                        <td>13</td>
                        <td>Attribution à un bénéficiaire en plus de 12 dossiers présentés.</td> -->
                    </tr>
                    <tr>
                        <td>4 pièces jumelées <br> Type SOCIAL</td>
                        <td>130 m<sup>2</sup></td>
                        <td>14 000 000</td>
                        <td>4 900 000</td>
                        <td>36</td>
                        <!-- <td>8</td>
                        <td>28</td>
                        <td>28</td>
                        <td>20 logements attribués ultérieurement après la 2ème session.</td> -->
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="4">TOTAL GENERAL</td>
                            <td>110</td>
                            <!-- <td>51</td>
                            <td>57</td>
                            <td>49</td>
                            <td>Total attribués à SONGON, 110 sur 110 logements.</td> -->
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
                <div class="clear">
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <h3>Logement du site AKANDJE (BINGERVILLE)</h3>
                    </div>
                    <div class="col-md-9">
                            <table class="table table-bordered text-center table-striped">
            
                                <tr>
                                    <th>Type de Logement</th>
                                    <th>Superficie terrain</th>
                                    <th>Coût en en FCFA </th>
                                    <th>Apport Demande</th>
                                    <th>Nombre de logements à attribuer</th>
                                    <!-- <th>Nombre de logements à attribuer à la 1ère session</th>
                                    <th>Reste à attribuer après la 1ère session</th>
                                    <th>Nombre de logements attribués à la 2ème session</th>
                                    <th>Observations</th> -->
                                </tr>
                                <tr>
                                    <td>3 pièces en bande</td>
                                    <td>200 m<sup>2</sup></td>
                                    <td>13 200 000</td>
                                    <td>4 620 000</td>
                                    <td>42</td>
                                    <!-- <td>28</td>
                                    <td>14</td>
                                    <td>14</td>
                                    <td>15 dossiers présentés au lieu de 14 pour remplacer un bénéficiaire d'une attribution lors de la 1ère session. Il a changé pour un logement 3 pièces ECO à SONGON.</td> -->
                                </tr>
                                <tr>
                                    <td>3 pièces individuelles <br> Type SOCIAL</td>
                                    <td>200 m<sup>2</sup></td>
                                    <td>15 000 000</td>
                                    <td>5 250 000</td>
                                    <td>8</td>
                                    <!-- <td>8</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>RAS</td> -->
                                </tr>
                                <tr>
                                    <td>3 pièces individuelles <br> Type économique</td>
                                    <td>260 m<sup>2</sup></td>
                                    <td>20 000 000</td>
                                    <td>7 000 000</td>
                                    <td>5</td>
                                    <!-- <td>5</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>RAS</td> -->
                                </tr>
                                <tr>
                                    <td>4 pièces individuelles <br> Type social</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>0</td>
                                    <!-- <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>Acquisition de 2 logements 4 pièces type social en remplacement de 2 logements 4 pièces de type ECO</td> -->
                                </tr>
                                <tr>
                                    <td>4 pièces individuelles <br> Type social</td>
                                    <td>260 m<sup>2</sup></td>
                                    <td>27 000 000</td>
                                    <td>9 450 000</td>
                                    <td>35</td>
                                    <!-- <td>11</td>
                                    <td>24</td>
                                    <td>22</td>
                                    <td>2 logements échangés contre les logements 4 pièces social</td> -->
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">TOTAL AKANDJE</td>
                                        <td>90</td>
                                        <!-- <td>52</td>
                                        <td>38</td>
                                        <td>38</td>
                                        <td>Total attribué: 90 sur 90 disponibles</td> -->
                                    </tr>
                                </tfoot>
                            </table>
                    </div>
                    <!-- <div class="col-md-3 documents">
                        <div class="document document-pdf">
                            <i class="fa fa-file-pdf-o"></i>
                            <a href="{{asset('_assets/files/Operation_immobiliere_MA2E_Lots_Akandje.pdf')}}" target="_blank">Lots AKANDJE</a>
                        </div>
                    </div> -->

                </div>
                

        </div>
        <!-- <div class="row">
            <h2>Documents à télécharger</h2>
            <div class="col-md-4 documents">
                <div class="document document-pdf">
                    <i class="fa fa-file-pdf-o"></i>
                    <a href="{{asset('_assets/files/dossier/1ere_Session_Attribution_des_logements.pdf')}}" target="_blank">CR 1ère session attribution des logements MA2E</a>
                </div>
            </div>
            <div class="col-md-4 documents">
                <div class="document document-pdf">
                    <i class="fa fa-file-pdf-o"></i>
                    <a href="{{asset('_assets/files/dossier/2eme_Session_Attribution_logements.pdf')}}" target="_blank">CR 2ème session attribution des logements MA2E</a>
                </div>
            </div>

        </div> -->
        <div class="row">
            <h2>Cérémonie de remise des clés</h2>
            <div class="col-md-4 documents">
                <div class="document document-pdf">
                    <i class="fa fa-file-pdf-o"></i>
                    <a href="{{asset('_assets/files/Remise_des_cles_28122017_Allocution_du_DG_de_MA2E.pdf')}}" target="_blank">Allocution du DG de la MA2E</a>
                </div>
            </div>
            <div class="col-md-4 documents">
                <div class="document document-pdf">
                    <i class="fa fa-file-pdf-o"></i>
                    <a href="{{asset('_assets/files/Remise_des_cles_28122017_Allocution_du_PCA_de_MA2E.pdf')}}" target="_blank">Allocution du PCA de la MA2E</a>
                </div>
            </div>

        </div>

    </div>

    <div class="clear">
    </div>
    <!-- / End Tabs-->

    </div>

</section>
<!--Section Dossier d'attribution-->

{% endblock %} {% block stylesheets %}
<style>
    .text-green {
        color: #4ba146;
    }
    
    .text-orange {
        color: #f38d31;
        text-decoration: underline;
    }
    
    .button.button-navy-blue {
        padding-bottom: 30px;
    }
</style>

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>
{% endblock %}