{% extends 'base.html.twig' %} {%block title%}Formules de Crédit{%endblock%} {% block body %}


<!-- Crédit ordinaire-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/credit-card.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Crédit ordinaire</h2>

            <h4>Caractéristique</h4>
            <p>Crédit ordinaire octroyé à la demande de tout adhérent.</p>

            <h4>Objet</h4>
            <p>Crédit destiné à financer :
                <ul>
                    <li>L’équipement;</li>
                    <li>Les investissements;</li>
                </ul>
            </p>
            <a class="button button-navy-blue" href="{{path('credit-ordinaire')}}">Voir plus de détails <i class="fa fa-list"></i></a>


        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Crédit ordinaire-->

<!-- Crédit express-->
<section class="box-with-image-right">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargneex.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Crédit express</h2>

            <h4>Caractéristique</h4>
            <p>Formule de crédit destinée aux adhérents ayant cotisé à l’épargne expresse.</p>

            <h4>Objet</h4>
            <p>Crédit destiné à financer divers besoins ponctuels des adhérents, sous réserve du respect de la quotité cessible.</p>

            <a class="button button-navy-blue" href="{{path('credit-express')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Crédit express-->

<!-- Crédit Immobilier-->
<section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2> Crédit immobilier</h2>

            <p><strong>Montant maximum</strong>: 20 million de FCFA</p>
            <p><strong>Durée du crédit</strong>: 12 ans (144 mois)</p>
            <a class="button button-navy-blue" href="{{path('credit-immobilier')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/produit/credit_immobilier.jpeg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- Crédit Immobilier-->

<!-- Crédit immobilier différé -->
<section class="box-with-image-right">

    <div class="center">

        <div class="content">

            <h2> Crédit immobilier différé</h2>

            <p><strong>Montant maximum</strong>: Part du crédit immobilier non supportée par la quotité cessible au moment de la mise en place Du crédit immobilier</p>
            <p>Durée du crédit 12 ans (144 mois)</p>
            <a class="button button-navy-blue" href="{{path('credit-immobilier-differe')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/credit-immo-diff.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Crédit immobilier différé-->
{% endblock %} {% block stylesheets %} {% endblock %}