{% extends 'base.html.twig' %}{%block title%}La mutuellle{%endblock%} {% block body %}


<!-- Start Team member Area -->
<section id="team" class="slogan pb-150 box-with-image-left section-top-space">

    <div class="center">
        <i class="fa fa-camera background-icon"></i>
        <h3>Notre galérie</h3>

        <div class="lightBoxGallery">
            <a href="{{asset('_assets/_img/galerie/1.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/1.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/2.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/2.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/3.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/3.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/4.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/4.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/5.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/5.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/6.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/6.JPG')}}" class="img-gallery"></a>
            <a href="{{asset('_assets/_img/galerie/7.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/galerie/7.jpg')}}" class="img-gallery"></a>


            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>

        </div>

    </div>

</section>
<!-- End Team member Area -->

{% endblock %} {% block stylesheets %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('_assets/_css/galerie.min.css')}}">
<script src="{{asset('_assets/_js/galerie.min.js')}}"></script>

<style>
    .lightBoxGallery img {
        margin: 5px;
    }
    
    .lightBoxGallery {
        text-align: center;
    }
    
    .img-gallery {
        width: 150px;
        height: 150px;
    }
</style>

{% endblock %}