{% extends 'base.html.twig' %} {%block title%}Accueil{%endblock%}{% block body %}

<div class="flash-info">
    <span class="title-flash">Flash info</span>
    <marquee class="flash-slide"><span>Test utilisateur du site web du vendredi 26/10/2018 au vendredi 02/11/2018</span></marquee>
</div>

<div class="heading">

    <div class="heading-slides">


        <div class="heading-slide-single" data-slide-id="1" style="background-image: url( '{{asset('_assets/_img/accueil/bg1.JPG')}}' );">


            <div class="flying-2">

                <h3>Produit d'épargne</h3>
                <p>Différents types d'épargnes pour le bien-être financier de nos adhérents .</p>

                <a href="{{path('all-products')}}"><button class="button button-white" >En savoir plus <i class="fa fa-paper-plane-o"></i></button></a>

            </div>

            <div class="heading-content background-customize">

                <h2> Produit d'épargne</h2>
                <h3>Constitution d'une épargne pour l'adhérent.</h3>

                <a href="{{path('all-products')}}" class="btn warning">Consulter les offres </a>

            </div>

        </div>

        <div class="heading-slide-single" data-slide-id="2" style="background-image: url( '{{asset('_assets/_img/accueil/bg2.JPG')}}' );">


            <div class="flying-2">

                <h3>Formule de crédit</h3>
                <p>Choisissez le crédit qui vous convient.</p>

                <a href="{{path('all-credits')}}"><button class="button button-white" >En savoir plus <i class="fa fa-paper-plane-o"></i></button></a>

            </div>

            <div class="heading-content background-customize">

                <h2>Formule de crédit </h2>
                <h3>Crédit destiné à financer les<br> équipements, les investissements <br> les projets immobiliers, <br> Tout autre besoin financier à moyen ou long terme. </h3>

                <a href="{{path('all-credits')}}" class="btn warning">Consulter les offres</a>

            </div>

        </div>

        
        <div class="heading-slide-single" data-slide-id="3" style="background-image: url( '{{asset('_assets/_img/accueil/bg3.JPG')}}' );">


            <div class="flying-2">

                <h3>Formule de crédit</h3>
                <p>Choisissez le crédit qui vous convient.</p>

                <a href="{{path('all-credits')}}"><button class="button button-white" >En savoir plus <i class="fa fa-paper-plane-o"></i></button></a>

            </div>

            <div class="heading-content background-customize">

                <h2>Formule de crédit </h2>
                <h3>Crédit destiné à financer les<br> équipements, les investissements <br> les projets immobiliers, <br> Tout autre besoin financier à moyen ou long terme. </h3>

                <a href="{{path('all-credits')}}" class="btn warning">Consulter les offres</a>

            </div>

        </div>

    </div>

</div>

<section class="box-with-image-left section-top-space" id="mot-PCA">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/accueil/00_AHAMADOU BAKAYOKO_PCA_New.JPG')}}' );">
        </div>

        <div class="content text-justify">

            <h3>Mot du PCA</h3>

            <p>Chers tous,</p>

            <!--p> Depuis quelques temps, la revendication qui est revenue de façon récurrente à l’occasion de la Fête du travail est celle de l’accession à la propriété immobilière des Collaborateurs de nos sociétés.<br> C’est la raison pour laquelle nous avons
                instruit le Gérant de la MA2E et ses équipes de pencher sur la question, afin de nous proposer des solutions crédibles et réalistes dans leur conception et dans leur réalisation.
            </p-->
            <p>La Mutuelle des Agents de l’Eau et de l’Electricité (MA2E), créée le 26 août 2009, a connu, le 08 octobre 2019, un renouvellement de ses instances dirigeantes.
            </p>
            <p>
               Ce souffle nouveau s’avérait nécessaire, compte tenu notamment des difficultés rencontrées dans l’exécution de certaines de ses missions. 
            </p>
            <p>
               Vous comprenez donc que la redynamisation de cet important outil de notre politique sociale ait été retenue comme une priorité.
            </p>
            <p>
               Pour ma part, je considère qu’après dix (10) années d’existence, notre mutuelle doit continuer d’être un modèle inspirant de développement de projets personnels et collectifs au sein de nos entreprises.
            </p>
            <p>
               C’est pourquoi, la feuille de route de la nouvelle Direction Générale prévoit, dans un premier temps, de conduire les études adéquates en vue de trouver des solutions aux blocages des projets déjà engagés, puis dans un second temps, de proposer de nouveaux projets adaptés aux possibilités de nos agents et dont les conditions d’exécution soient maîtrisées.
            </p>
            <p>
               Je vous exhorte donc à faire de notre nouveau site intranet votre allié. C’est en effet un moyen moderne d’information et d’échanges qui permet de simplifier les processus, tout en facilitant l’écoute de tous et de chacun. 
            </p>
            <p>L’œuvre de consolidation des acquis de notre mutuelle est en marche. </p>
            <p>Je vous invite donc à nous faire confiance.</p>

            <p> <span class="author-name">Ahmadou BAKAYOKO</span><br> Président du Conseil d’Administration de MA2E</p>

        </div>

        <div class="clear">
        </div>

    </div>

</section>

<section class="slogan section-gray-top about-us section">

    <div class="center">

        <div class="green-line">
        </div>
        <i class="fa fa-bar-chart-o background-icon"></i>

        <div class="left">

            <h3>À Propos</h3>
            <h2>Découvrez votre Mutuelle.</h2>

            <p>
                La Mutuelle des Agents de l’Eau de l’Electricité (MA2E), est une institution de micro finance initiée par le Président Marcel Zadi Kessy en vue d’offrir à ses adhérents un accès équitable à des services financiers de qualité, de façon durable, avec professionnalisme
                pour l’amélioration de leurs conditions sociales. L’adhésion libre et volontaire est exclusivement réservée au personnel de SODECI, CIE, GS2E et CIPREL en activité.
            </p>

            <div class="timeline-item">
                <span class="date">Septembre, 2006</span>
                <p>
                    Création de la MA2E.
                </p>
            </div>

            <div class="timeline-item">
                <span class="date">Août, 2009</span>
                <p>
                    Obtention de l'agrément d'exercice.
                </p>
            </div>

            <div class="timeline-item">
                <span class="date">Janvier, 2010</span>
                <p>
                    Démarrage officiel des activités.
                </p>
            </div>


        </div>

        <div class="right top-160 " style="margin-bottom:50px;">
            <div class="key-number-values" align="center">
                <p>Les chiffres en fin 2018</p>

                <div class="single single-top single-left">

                    <span class="number">7 173</span>
                    <span class="description">adhérents</span>

                </div>

                <div class="single single-top single-right">

                    <span class="number">9</span>
                    <span class="description">produits</span>

                </div>

                <div class="single single-bottom single-left">

                    <span class="number">9</span>
                    <span class="description">années d'activités</span>
                </div>

                <div class="single single-bottom single-right">

                    <span class="number">19,7</span>
                    <span class="description"> Milliards de FCFA de crédits accordés</span>

                </div>

                <p style="text-align: right"><a class="button button-navy menu-element" data-action="show-more-popup">En savoir plus</a></i>
                </p>
            </div>


        </div>

        <div class="clear">
        </div>

    </div>

</section>


<!--section class="box-with-image-right section-gray-top" id="mot-initiateur">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/zadi_kessy_2.JPG')}}' );">
        </div>

        <div class="content text-justify">

            <h3>La vision du fondateur</h3>

            <p>Chers Mutualistes,</p>

            <p>
                La création de la Mutuelle des Agents de l’Eau et de l’Electricité est une grande satisfaction pour moi. C’est un rêve qui est devenu une réalité. Dans ma vision de l’entreprise et de la société, de façon générale, l’homme est au début et à la fin de
                tout. Dans la charte de nos deux sociétés, l’homme est la première valeur...
            </p>
            <a href="{{path('vision-fondateur')}}" class="button button button-navy-blue pull-right">Voir plus</a>

            <p> <span class="author-name">Marcel ZADI KESSY</span></p>

        </div>

        <div class="clear">
        </div>

    </div>

</section-->


<section class="insurances-slider slogan section-gray">

    <div class="center">

        <i class="fa fa-money background-icon"></i>

        <div class="images">

            <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargnecomplementaire2.jpg')}}' );" data-insurance-key="saving">
            </div>

            <div class="image" style="background-image: url( '{{asset('_assets/_img/img/investment.jpg')}}' );" data-insurance-key="credit">
            </div>

            <div class="image" style="background-image: url( '{{asset('_assets/_img/imageimm2.jpg')}}' );" data-insurance-key="house">
            </div>

        </div>

        <div class="content">

            <div class="descriptions">

                <div class="description" data-insurance-key="saving">

                    <h3>Choisissez l'épargne qui vous convient!</h3>
                    <h2>Epargne remunérée</h2>

                    <p>Différents types d'épargnes pour le bien-être financier de nos adhérents .</p>
                    <a href="{{path('all-products')}}"><button class="button button-navy-blue">Consulter <i class="fa fa-paper-plane-o"></i></button></a>

                </div>

                <div class="description" data-insurance-key="credit">

                    <h2>Crédit Financier à faible taux d'intérêt</h2>

                    <p>Crédit destiné à financer les<br> équipements, les investissements <br> les projets immobiliers, <br> Tout autre besoin financier à moyen ou long terme. </p>
                    <a href="{{path('all-credits')}}"><button class="button button-navy-blue">Consulter <i class="fa fa-paper-plane-o"></i></button></a>

                </div>

                <div class="description" data-insurance-key="house">

                    <h3>Un toit pour chacun</h3>
                    <h2>Crédit Immobilier</h2>

                    <p>Offrez-vous la maison de votre choix.</p>
                    <a href="{{path('projet-immobilier')}}"><button class="button button-navy-blue">Consulter<i class="fa fa-paper-plane-o"></i></button></a>

                </div>

            </div>

            <ul class="tabs">

                <li class="active" data-insurance-key="saving">

                    <i class="fa fa-money"></i>
                    <span>Produit d'Épargne</span>

                </li>

                <li data-insurance-key="credit">

                    <i class="fa fa-credit-card"></i>
                    <span>Formules de Crédit</span>

                </li>

                <li data-insurance-key="house">

                    <i class="fa fa-home"></i>
                    <span>Projet Immobilier</span>

                </li>

            </ul>

        </div>

        <div class="clear">
        </div>

    </div>

</section>

<section class="image-slogan with-parallax" style="background-image: url( '{{asset('_assets/_img/ghgh.png')}}' );">

    <div class="flying-1">

        <span>Achetez vous une maison</span>

    </div>

    <div class="flying-2">

        <h3>Des opportunités<br /> pour l'achat d'une maison</h3>
        <p>Nous mettons à votre disposition des duplex de 5 et 4 pièces ainsi que des villas de 5 à 3 pièces.</p>

        <a href="{{path('projet-immobilier')}}"><button class="button button-white" >Consulter <i class="fa fa-paper-plane-o"></i></button></a>

    </div>

    <div style="margin-left:30%;padding-top:10%">
        <div style="width: 50%; font-size:45px; color: #fff; padding:3%; background-color: rgb(0, 0, 0, 0.22);text-shadow: 2px 2px black; text-align: center">
            <!--Vue aérienne du site AKANDJE-->
            Vue de quelques logements du site AKANDJE (BINGERVILLE)
        </div>
    </div>
    
</section>


{% endblock %} {% block stylesheets %}
<style>
    /*a.button.button-navy-blue {
        padding-bottom: 30px;
    }*/
    
    .section h3 {
        color: #00a045;
        font-weight: 800;
        font-size: 13px;
        margin-left: 2px;
        border-bottom: 3px solid #00a045;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    /* Gray */
    
    .btn {
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .default {
        border-color: #e7e7e7;
        color: black;
    }
    
    .default:hover {
        background: #e7e7e7;
    }
    /* Orange */
    
    .warning {
        border-color: #f5a432;
        color: #4ba146;
    }
    
    .warning:hover {
        background: #ff9800;
        color: white;
    }
</style>
<link href="{{asset('_assets/_css/table.css')}}" rel="stylesheet" id="bootstrap-css"> {%endblock%}