{% extends 'base.html.twig' %}{%block title%} Événements{%endblock%} {% block body %}

<section class="double-content section-top-space">

    <div class="center">


        <h2>Documents circulaires</h2>
        <!--Ici nous rangerons les dépêches par ordre d'enregistrement decroissant-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Historique, mission et objectifs</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/historique.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">PV AG 2017</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/PV_AG_2017.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">PV AG 2018</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/PV_AG_2018.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Education financière</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Budgétisation</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Finance_Budgetisation.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Epargne</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Finance_Epargne.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Gestion des dettes</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Finance_Gestion_des_dettes.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Négociation</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Finance_negociation.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Service financier</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Finance_Services_financiers.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Budget familial</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="documents">
                            <div class="document document-pdf">
                                <i class="fa fa-file-pdf-o"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Budget familial</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">01 Jan 2018</h6> -->
                            <a target="_blank" href="{{asset('_assets/files/documents/Educ_Budget_familial.pdf')}}" class="btn success">Télécharger</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear">
        </div>

    </div>



</section>

{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>

<style>
    /* Green */
    
    .card {
        margin-bottom: 30px;
    }
    
    .success {
        border-color: #4CAF50;
        color: green;
    }
    
    .success:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
{% endblock %}