{% extends 'base.html.twig' %}{%block title%}La mutuellle{%endblock%} {% block body %}

<!-- Notre histoire-->
<section class="box-with-image-right section-top-space" id="vision-fondateur">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/ma2e/zadi_kessy_2.JPG')}}' );">
        </div>

        <div class="content">

            <h3>La vision du fondateur</h3>


            <p>Chers Mutualistes,</p>
            <p>
                La création de la Mutuelle des Agents de l’Eau et de l’Electricité est une grande satisfaction pour moi. C’est un rêve qui est devenu une réalité. Dans ma vision de l’entreprise et de la société, de façon générale, l’homme est au début et à la fin de
                tout. Dans la charte de nos deux sociétés, l’homme est la première valeur. C’est à juste titre. Je crois profondément que si l’homme est la première richesse de l’entreprise, il ne doit pas être laissé pour compte dans le partage des richesses
                que cette entreprise crée. Le projet mutualiste est le prolongement naturel de la politique sociale volontariste que nous avons mise en œuvre dans nos sociétés et qui est l’expression de nos traditions communautaires de solidarité et d’entraide.
                A une époque où la pauvreté gagne du terrain, même parmi les salariés, il nous faut réorienter et donner plus d’ambition à cet élan de solidarité dans un cadre plus formel. J’ai toujours soutenu que la pauvreté n’est pas une fatalité.
                Il faut donc la combattre avec énergie et créativité.</p>
            <p>Avec la Mutuelle, les collaborateurs de la SODECI, de la CIE, de GS2E et de CIPREL ont désormais entre leurs mains un instrument approprié pour sensibiliser les uns et les autres à cultiver le goût de l’épargne, emprunter sagement et rembourser
                dans les délais, investir dans les projets productifs et sociaux qui tiennent à cœur aux familles, créer les conditions pour permettre aux uns et aux autres de se prendre en charge sur le triple plan financier, économique et social.</p>
            <p>Ma fierté sera d’autant plus grande que les sociétaires et les dirigeants de notre Mutuelle sauront créer, dans les années à venir, les conditions les meilleures, pour faire de cette jeune Institution de microfinance, une institution prospère
                au service du bien-être de nos collaborateurs. Les débuts sont prometteurs. J’ai grand espoir pour l’avenir.
            </p>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Notre histoire-->
<!-- Notre histoire-->
<section class="box-with-image-left" id="notre-histoire">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/ma2e/histoire.jpeg')}}' );">
        </div>

        <div class="content">

            <h3>Notre histoire</h3>
            <h2>L'histoire de la mutuelle</h2>

            <p>
                La mutuelle des Agents de l'Eau et de l'Electricité est le prolongement de la politique sociale initiée à la Compagnie Ivoirienne d'Electricité (CIE) et à la Société de Distribution d'Eau de la Côte d'Ivoire(SODECI) au profit des travailleurs.</p>

            <p>A l'origine, pour promouvoir l'esprit de solidarité, protéger les salariés contre les effets néfastes de la pression communautaire et les aider à réaliser leurs divers projets, des fonds ont été mis en place dont le Fonds Epargne-Emprunt.
                Le mécanisme de ce fonds consistait à constituer une épargne volontaire avant d'emprunter. C'est de ce Fonds qui a connu un succès auprès des travailleurs de CIE et de SODECI qu'est partie l'idée de créer une institution de microfinance.</p>

            <p>Créée en 2010, MA2E donne une nouvelle dimension à la politique sociale volontariste de la CIE et de la SODECI.</p>


        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Notre histoire-->

<!-- Notre mission-->
<section class="box-with-image-right" id="notre-mission">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/ma2e/mission.jpeg')}}' );">
        </div>

        <div class="content">

            <h3>Notre mission</h3>
            <h2>La mission de la mutuelle</h2>

            <p>Notre mission est de donner aux travailleurs des différentes sociétés qui sont nos membres, les moyens de satisfaire leurs besoins financiers afin d ’ être libérés des contraintes matérielles pour se consacrer plus efficacement à leurs activités
                professionnelles .

            </p>


        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Notre mission-->

<!-- Nos résultats-->
<section class="box-with-image-left" id="nos-resultats">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/rslt.jpg')}}' );">
        </div>
        <div class="content">

            <h3>Nos résultats</h3>
            <h2>Les résultats de la mutuelle</h2>

            <p>Vous trouverez ci-après les différents rapports de gestion du conseil d’administration. Ces rapports sont rédigés conformément à l’article 50 de la loi portant réglementation des SFD et de l’instruction N°018-12-2010 de la BCEAO.</p>
            <p>Nos résultats sont résumés dans <a data-action="show-more-popup"> le tableau de synthèse des principales données</a>.
            </p>

            <ul class="documents">

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2018.png')}}" alt="" class="img-responsive img-icon hidden-xs">

                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2018.pdf')}}" target="_blank">2018 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2017.png')}}" alt="" class="img-responsive img-icon hidden-xs">

                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2017.pdf')}}" target="_blank">2017 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2016.png')}}" alt="" class="img-responsive img-icon hidden-xs">

                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2016.pdf')}}" target="_blank">2016 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2015.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2015.pdf')}}" target="_blank">2015 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2014.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2014.pdf')}}" target="_blank">2014 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2013.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2013.pdf')}}" target="_blank">2013 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2012.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2012.pdf')}}" target="_blank">2012 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2011.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2011.pdf')}}" target="_blank">2011 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

                <li class="document document-pdf">

                    <img src="{{asset('_assets/files/2010.png')}}" alt="" class="img-responsive img-icon hidden-xs">
                    <!--i class="fa fa-file-pdf-o"></i-->
                    <a href="{{asset('_assets/files/RAPPORT_DE_GESTION_2010.pdf')}}" target="_blank">2010 - Rapport de gestion</a>
                    <span>Taille du document: 34kb</span>

                    <div class="clear">
                    </div>

                </li>

            </ul>

        </div>


        <div class="clear">
        </div>

    </div>

</section>
<!-- /Nos résultats-->
{% endblock %} {% block stylesheets %}
<style>
    img.img-icon {
        width: 80px;
        float: left;
        padding-right: 10px;
    }
</style>
<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css"> {% endblock %}