{% extends 'base.html.twig' %}{%block title%} La mutuellle{%endblock%} {% block body %}


<section class="agents tabs section-top-space section-gray">
    <div class="center">
        <!-- Tabs -->

        <ul class="tabs-selector">

            <li>

                <i class="fa fa-users"></i>
                <span>Le conseil d'administration</span>

            </li>

            <li>

                <i class="fa fa-users"></i>
                <span>Les présidents des autres organes</span>

            </li>

            <li>

                <i class="fa fa-users"></i>
                <span>La gérance et le personnel</span>

            </li>

        </ul>

        <div class="content">

            <div class="content-tab-single">

                <i class="fa fa-users background-icon"></i>

                <h3>Le conseil d'administration</h3>

                <div class="product-slider">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/kakou-dominique.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kakou Dominique</h2>
                                            <p class="without-margin-bottom">Président du Conseil d'Administration de la MA2E. <br>Directeur Général de la CIE (Compagnie Ivoirienne d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/zadi-eugene.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Zadi Eugène</h2>
                                            <p class="without-margin-bottom">Directeur Général Délégué du GS2E (Groupement des Services Eau et Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/kouassi-mathias.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kouassi Mathias</h2>
                                            <p class="without-margin-bottom">Directeur Général Adjoint chargé du pôle Distribution à la CIE (Compagnie Ivoirienne d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/kouadio-amani.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kouadio Amani</h2>
                                            <p class="without-margin-bottom">Secrétaire Général de la SODECI (Société de Distribution d'Eau de la Côte d'Ivoire) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/ebah-basile.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Ebah Basile</h2>
                                            <p class="without-margin-bottom">Directeur Général de la SODECI (Société de Distribution d'Eau de la Côte d'Ivoire) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/da-cruz-dominique.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Da Cruz Dominique</h2>
                                            <p class="without-margin-bottom">Directeur Général Adjoint chargé de l'Exploitation de la SODECI (Société de Distribution d'Eau de la Côte d'Ivoire) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/sanogo-abdoulaye.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Sanogo Abdoulaye</h2>
                                            <p class="without-margin-bottom">Directeur Général Adjoint chargé de l'Audit Exploitation Eau et Electricité au GS2E (Groupement des Services Eau et Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/ndrin-bonny.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">N'Drin Bonny Emma</h2>
                                            <p class="without-margin-bottom">Directeur Central Chargé de l'Administration du Personnel à la CIE (Compagnie Ivoirienne d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/ehui-eugene.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Ehui Eugène</h2>
                                            <p class="without-margin-bottom">Secrétaire Général du syndicat FRATERNITE CIE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/sié-lambert.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Sié Lambert</h2>
                                            <p class="without-margin-bottom">Secrétaire Général du SYNATCIE (Syndicat National des Travailleurs de la Compagnie Ivoirienne d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/odré-evarist-daniel.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Odré Evarist Daniel</h2>
                                            <p class="without-margin-bottom">Secrétaire Général du SYNASOD (Syndicat National des Agents de la SODECI)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/kouadio-koffi-nda.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kouadio Koffi N'da</h2>
                                            <p class="without-margin-bottom">Secrétaire Général du SYNASEG (Syndicat National du Secteur de l'Electricité et du Gaz)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/yao-bakary-kobena.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Yao Bakari Kobena</h2>
                                            <p class="without-margin-bottom">Secrétaire Général du SYNATRAS (Syndicat National des Travailleurs de la SODECI)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/sem-kroa-sylvestre.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Sem Kroa Sylvestre</h2>
                                            <p class="without-margin-bottom">Directeur Général du GS2E (Groupement des Services Eau et Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/kouadio-yao-emmanuel.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kouadio Yao Emmanuel</h2>
                                            <p class="without-margin-bottom">Directeur Général Adjoint , Secrétaire Général de la CIE (Compagnie Ivoirienne d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/conseil/nguessan-kouassi.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">N'Guessan Kouassi</h2>
                                            <p class="without-margin-bottom">Directeur Général de la CIPREL (Compagnie Ivoirienne de Production d'Electricité)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div id="thumbcarousel" class="carousel slide" data-interval="false">
                            <div class="carousel-inner element-slide">
                                <div class="item active">
                                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/kakou-dominique.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/zadi-eugene.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/kouassi-mathias.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/kouadio-amani.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/ebah-basile.JPG')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/da-cruz-dominique.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/sanogo-abdoulaye.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/ndrin-bonny.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="8" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/ehui-eugene.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="9" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/sié-lambert.JPG')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel" data-slide-to="10" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/odré-evarist-daniel.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="11" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/kouadio-koffi-nda.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="12" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/yao-bakary-kobena.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="13" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/sem-kroa-sylvestre.JPG')}}"></div>
                                    <div data-target="#carousel" data-slide-to="14" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/kouadio-yao-emmanuel.JPG')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel" data-slide-to="15" class="thumb"><img src="{{asset('_assets/_img/agents/conseil/nguessan-kouassi.JPG')}}"></div>
                                </div>
                            </div>
                            <!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class=" rights carousel-control" href="#thumbcarousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
                        <!-- /thumbcarousel -->

                    </div>
                </div>

            </div>

            <div class="content-tab-single">

                <i class="fa fa-users background-icon"></i>

                <h3>Les présidents des autres organes</h3>

                <div class="product-slider">
                    <div id="carousel1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/president/akele-mouchy-jocelyn.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Akélé Mouchy Jocelyn</h2>
                                            <p class="without-margin-bottom">Président de l'organe de Déontologie de la MA2E. <br> Directeur Général Adjoint AGF de la SODECI (Société de Distribution d'Eau de la Côte d'Ivoire) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/president/soumahoro-ahmed.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Soumahoro Ahmed</h2>
                                            <p class="without-margin-bottom">Président de l'organe de Surveillance de la MA2E. <br> Directeur Financier et Comptable de la CIE (Compagnie Ivoirienne d'Electricité). </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/president/fofana-brahima.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Fofana Brahima</h2>
                                            <p class="without-margin-bottom">Président de l'organe de Crédit de la MA2E. <br> Directeur Central RH/DOC de la SODECI (Société de Distribution d'Eau de la Côte d'Ivoire).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div id="thumbcarousel1" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel1" data-slide-to="0" class="thumb"><img src="{{asset('_assets/_img/agents/president/akele-mouchy-jocelyn.JPG')}}"></div>
                                    <div data-target="#carousel1" data-slide-to="1" class="thumb"><img src="{{asset('_assets/_img/agents/president/soumahoro-ahmed.JPG')}}"></div>
                                    <div data-target="#carousel1" data-slide-to="2" class="thumb"><img src="{{asset('_assets/_img/agents/president/fofana-brahima.JPG')}}"></div>
                                </div>
                            </div>
                            <!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel1" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="rights carousel-control" href="#thumbcarousel1" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
                        <!-- /thumbcarousel -->

                    </div>
                </div>

            </div>

            <div class="content-tab-single">

                <i class="fa fa-users background-icon"></i>

                <h3>La gérance et le personnel</h3>

                <div class="product-slider">
                    <div id="carousel2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/kaunan_alexis.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Alexis Koffi Kaunan</h2>
                                            <p class="without-margin-bottom">M. Kaunan est le Directeur Général de la MA2E.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/amia-lisette-flore.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Amia Lisette Flore</h2>
                                            <p class="without-margin-bottom">Mme Amia est cadre administratif.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/kadja-koutoua.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kadja Koutoua</h2>
                                            <p class="without-margin-bottom">M. Kadja est comptable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/adjoumani_kouadio_bernard.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Adjoumani Kouadio Bernard</h2>
                                            <p class="without-margin-bottom">M. Adjoumani est responsable des Etudes et du Développement.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/kouassi_a_elisabeth.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Kouassi A. Elisabeth</h2>
                                            <p class="without-margin-bottom">Mme Kouassi est assistante administrative.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/assi_ana_patricia.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Assi Anna Patricia</h2>
                                            <p class="without-margin-bottom">Mme Assi est gestionnaire de crédit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/segui_k_pelagie.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Ségui Kouba Sery Pélagie-Annick</h2>
                                            <p class="without-margin-bottom">Mme Segui est gestionnaire de crédit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/akpoue_affouet_rosabelle.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Akpoué Affouet Rosabelle</h2>
                                            <p class="without-margin-bottom">Mme Akpoué est gestionnaire de crédit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/ouattara-ndri-marcelle.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Ouattara N'Dri Marcelle</h2>
                                            <p class="without-margin-bottom">Mme Ouattara est gestionnaire de crédit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/avatar.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Djedjero Natacha</h2>
                                            <p class="without-margin-bottom">Mme Djedjero est gestionnaire de crédit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/nguessan_yao_olivier.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">N'Guessan Yao Olivier</h2>
                                            <p class="without-margin-bottom">Mme Ouattara est assistant comptable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/bonouman_e_marie_esther.JPG')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Bonouman E. Marie-Esther</h2>
                                            <p class="without-margin-bottom">Mme Ouattara est caissière.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/avatar.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Koissi Aya Philomène</h2>
                                            <p class="without-margin-bottom">Mme Koisssi est assistante chargée du Reporting social du programme de certification et de l'audit interne.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/avatar.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Guédé Paulin</h2>
                                            <p class="without-margin-bottom">M. Guédé est assistante chargée du Reporting social du programme de certification et de l'audit interne.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/avatar.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Konan Kombou Jean Jacques</h2>
                                            <p class="without-margin-bottom">M. Konan est informaticien.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="{{asset('_assets/_img/agents/personnel/niamien-koua-florent.png')}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="agents-data">

                                        <div class="single-agent">

                                            <h2 class="color-orange">Niamien Koua Florent</h2>
                                            <p class="without-margin-bottom">M. Niamien est assistante chargée du Reporting social du programme de certification et de l'audit interne.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div id="thumbcarousel2" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel2" data-slide-to="0" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/kaunan_alexis.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="1" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/amia-lisette-flore.png')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="2" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/kadja-koutoua.png')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="3" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/adjoumani_kouadio_bernard.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="4" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/kouassi_a_elisabeth.JPG')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel2" data-slide-to="5" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/assi_ana_patricia.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="6" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/segui_k_pelagie.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="7" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/akpoue_affouet_rosabelle.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="8" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/ouattara-ndri-marcelle.png')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="9" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/avatar.png')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel2" data-slide-to="10" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/nguessan_yao_olivier.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="11" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/bonouman_e_marie_esther.JPG')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="12" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/avatar.png')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="13" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/avatar.png')}}"></div>
                                    <div data-target="#carousel2" data-slide-to="14" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/avatar.png')}}"></div>
                                </div>
                                <div class="item">
                                    <div data-target="#carousel2" data-slide-to="15" class="thumb"><img src="{{asset('_assets/_img/agents/personnel/niamien-koua-florent.png')}}"></div>
                                </div>
                            </div>
                            <!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel2" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="rights carousel-control" href="#thumbcarousel2" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
                        <!-- /thumbcarousel -->

                    </div>
                </div>

            </div>

        </div>

        <div class="clear">
        </div>
        <!-- / End Tabs-->

    </div>

</section>
{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>

<style>
    .thumb img {
        width: 100%;
        height: auto;
    }
    
    .element-slide {
        width: 550px;
    }
    
    section.tabs .content h2.color-orange {
        color: #f38d31;
    }
    
    a.right.carousel-control {
        /*max-width: 30px;
        right: 15%;*/
    }
    
    .product-slider {
        /*padding: 45px;*/
    }
    
    .product-slider #carousel {
        /*border: 4px solid #1089c0;*/
        margin: 0;
    }
    
    .product-slider #thumbcarousel {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel1 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel2 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel1 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel2 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel1 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel2 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel .item .thumb:hover {
        border-color: #1089c0;
    }
    /*.product-slider .item img {
        width: 100%;
        height: auto;
    }*/
    
    .carousel-control {
        color: #0284b8;
        text-align: center;
        text-shadow: none;
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 20px;
        top: 23%;
    }
    
    .carousel-control:hover,
    .carousel-control:focus,
    .carousel-control:active {
        color: #333;
    }
    
    .carousel-caption,
    .carousel-control .fa {
        font: normal normal normal 30px/26px FontAwesome;
    }
    
    .carousel-control {
        background-color: rgba(0, 0, 0, 0);
        bottom: auto;
        font-size: 20px;
        left: 0;
        position: absolute;
        top: 30%;
        width: auto;
    }
    
    .rights {
        margin-left: 550px;
    }
    
    .carousel-control.right,
    .carousel-control.left {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
    }
    
    .carousel-control.left {
        margin-left: -5%;
    }
    
    .carousel-control.right {
        margin-right: 20%;
    }
</style>
{% endblock %}