{% extends 'base.html.twig' %}{%block title%} La mutuellle{%endblock%} {% block body %}


<section class="agents section-top-space section-gray" id="personnel">
    <div class="center">
            <h3>Personnels de la MA2E</h3>
        <div class="row top-50 bottom-50">
            <div class="row">

                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/01_NDRIN_BONNY_EMMA.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>N'DRIN BONNY EMMA</h4>
                        <p>Directeur Général</p>
                </div>
                
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/02_ADJOUMANI_K._BERNANRD.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>ADJOUMANI K. BERNANRD</h4>
                        <p>	DGA Chargé des études et Développement</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/03_AMIA _CHANNY_LISETTE.JPG')}}" class="img-responsive" alt="">
                
                        <h4>AMIA CHANNY LISETTE-FLORE EPSE OUGA</h4>
                        <p>Responsable Administratif et Financier</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/04_NGUESSAN YAO OLIVIER.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>N'GUESSAN YAO OLIVIER</h4>
                        <p>Comptable</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/05_KADJA KOUTOUA.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>KADJA KOUTOUA</h4>
                        <p>Responsable Exploitation</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/06_ASSI AMON ANNA PATRICIA.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>ASSI AMON ANNA PATRICIA</h4>
                        <p>Gestionnaire</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/07_AKPOUE AFFOUET ROSABELLE.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>AKPOUE AFFOUET ROSABELLE</h4>
                        <p>Gestionnaire</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/08_KOUBA SERY ANNICK PELAGIE.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>KOUBA SERY ANNICK PELAGIE EPSE SEGUI</h4>
                        <p>Gestionnaire</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/09_DJEDJERO NATACHA.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>DJEDJERO NATACHA</h4>
                        <p>Gestionnaire</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/10_KOISSI AYA PHILOMENE.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>KOISSI AYA PHILOMENE</h4>
                        <p>Auditeur Interne</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/11_KAUNAN KOMBOU JJ.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>KAUNAN KOMBOU JEAN-JACQUES</h4>
                        <p>Informaticien</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/12_KOUASSI AFFOUA ELISABETH.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>KOUASSI AFFOUA ELISABETH</h4>
                        <p>	Gestionnaire</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/13_BONOUMAN EFFOSSY MARIE ESTHER.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>BONOUMAN EFFOSSY MARIE ESTHER</h4>
                        <p>Caissière</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/14_GUEDE PAULIN.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>GUEDE PAULIN</h4>
                        <p>	Agent administratif</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/15_BERY OBODJI MICHELINE EPSE NZI.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>BERY OBODJI MICHELINE EPSE N’ZI</h4>
                        <p>Assistante de direction</p>
                </div>
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/16_NIAMIEN KOUA FLORENT.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>NIAMIEN KOUA FLORENT</h4>
                        <p>Chauffeur – coursier</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <img src="{{asset('_assets/_img/agents/personnels/17_DIABATE MANDIOU.JPG')}}" class="img-responsive" alt="">
                    
                        <h4>DIABATE MANDIOU</h4>
                        <p>Chauffeur DG</p>
                </div>
            </div>

            <!-- <table class="table table-bordered table-striped">
                <tr>
                    <th>N°</th>
                    <th>Collaborateurs MA2E</th>
                    <th>Fonction</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>N’DRIN BONNY EMMA</td>
                    <td>Directeur Général</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>ADJOUMANI K. BERNANRD</td>
                    <td>DGA Chargé des études et Développement</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>AMIA CHANNY LISETTE-FLORE EPSE OUGA</td>
                    <td>Responsable Administratif et Financier</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>N'GUESSAN YAO OLIVIER</td>
                    <td>Comptable</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>KADJA KOUTOUA</td>
                    <td>Responsable Exploitation</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>ASSI AMON ANNA PATRICIA</td>
                    <td>Gestionnaire</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>AKPOUE AFFOUET ROSABELLE</td>
                    <td>Gestionnaire</td>
                </tr>
                <tr>
                    <td>08</td>
                    <td>KOUBA SERY ANNICK PELAGIE EPSE SEGUI</td>
                    <td>Gestionnaire</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>DJEDJERO NATACHA</td>
                    <td>Gestionnaire</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>KOISSI AYA PHILOMENE</td>
                    <td>Auditeur Interne</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>KAUNAN KOMBOU JEAN-JACQUES</td>
                    <td>Informaticien</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>KOUASSI AFFOUA ELISABETH</td>
                    <td>Gestionnaire</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>BONOUMAN EFFOSSY MARIE ESTHER</td>
                    <td>Caissière</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>GUEDE PAULIN</td>
                    <td>Agent administratif </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>BERY OBODJI MICHELINE EPSE N’ZI</td>
                    <td>Assistante de direction</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>NIAMIEN KOUA FLORENT</td>
                    <td>Chauffeur – coursier</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>DIABATE MANDIOU</td>
                    <td>Chauffeur DG</td>
                </tr>
            </table> -->
        </div>
        <div class="clear">
        </div>

    </div>

</section>

<section class="agents section-top-space section-gray" id="membre">
        <div class="row top-50">
            <div class="text-center">
                <h2 class="text-orange">Membres des organes de la MA2E </h2>
            </div>
        </div>
        <div class="center">
                <h3>Conseil d'administration</h3>
            <div class="row top-50 bottom-50">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>N°</th>
                        <th>Qualité</th>
                        <th>Noms et prénoms</th>
                        <th>Entités</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>PCA</td>
                        <td>AHMADOU BAKAYOKO</td>
                        <td>CIE-SODECI</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1er Vice PCA</td>
                        <td>AKELE Mouchy Jocelyn Emmanuel</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2nd Vice PCA</td>
                        <td>LAGO Ouanda Sosthène</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Admin.</td>
                        <td>SEM Kroa Sylvestre</td>
                        <td>GS2E</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Admin.</td>
                        <td>KEITA Epse DIALLO KADIDJATOU</td>
                        <td>CIPREL</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Admin.</td>
                        <td>Mme SEM AKA ELEONORE</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Admin.</td>
                        <td>SIAKA Bakayoko</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Admin.</td>
                        <td>COULIBALY P. Lenzéni</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Admin.</td>
                        <td>KOUADIO K. Christophe</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Admin.</td>
                        <td>N’DRIN Bonny Emma</td>
                        <td>MA2E</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Admin.</td>
                        <td>HOUNNOU CEDRICK BRICE</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Admin.</td>
                        <td>TITILO Legré Nazaire</td>
                        <td>SYNATCIE</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Admin.</td>
                        <td>KARAMOKO Mahamadou</td>
                        <td>FRATERNITE</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Admin.</td>
                        <td>KOUADIO Koffi N’Da</td>
                        <td>SYNASEC</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Admin.</td>
                        <td>ODRE Evariste Daniel</td>
                        <td>SYNASOD</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Admin.</td>
                        <td>LIBRONO ARSENE</td>
                        <td>SYNATRASE</td>
                    </tr>
                </table>
            </div>
            <div class="clear">
            </div>
    
        </div>
        
        <div class="center">
                <h3>Comité de crédit</h3>
            <div class="row top-50 bottom-50">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>N°</th>
                        <th>Qualité</th>
                        <th>Noms et prénoms</th>
                        <th>Entités</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Président</td>
                        <td>BEHI Togba Fulbert</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Vice-Président</td>
                        <td>DEGNY Guy Florent</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Secrétaire</td>
                        <td>N’DRI Koffy Léandre</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Membre</td>
                        <td>TA BI SOMA Cécile</td>
                        <td>GS2E</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Membre</td>
                        <td>KONAN KOUAKOU N'GORAN VICTORINE</td>
                        <td>SYNASEC</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Membre</td>
                        <td>ALLA Kouakou N’Da Aya  Denise</td>
                        <td>FRATERNITE</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Membre</td>
                        <td>COULIBALY Siriki</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Membre</td>
                        <td>COFFI Claude Edgard</td>
                        <td>SYNATCIE</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Membre</td>
                        <td>KOFFI Hermann</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Membre</td>
                        <td>ADHEPEAU Rita</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Membre</td>
                        <td>NAHOUNOU Robert</td>
                        <td>SYNASOD</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Membre</td>
                        <td></td>
                        <td>SYNATRASE</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Membre</td>
                        <td>TAKI Epse HABA M.</td>
                        <td>CIPREL</td>
                    </tr>
                </table>
            </div>
            <div class="clear">
            </div>
    
        </div>
        
        <div class="center">
                <h3>Conseil de surveillance</h3>
            <div class="row top-50 bottom-50">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>N°</th>
                        <th>Qualité</th>
                        <th>Noms et prénoms</th>
                        <th>Entités</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Président</td>
                        <td>SOUMAHORO Namory Hamed</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Membre</td>
                        <td>YOA Jean Claude</td>
                        <td>GS2E</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Membre</td>
                        <td>ABA ABA David</td>
                        <td>SODECI</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Membre</td>
                        <td>KASSI N’Goran Franck</td>
                        <td>SYNATCIE</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Membre</td>
                        <td>VANGA Blaise</td>
                        <td>SYNASEC</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Membre</td>
                        <td>KOUASSI Alphonse</td>
                        <td>SYNASOD</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Membre</td>
                        <td>KOUI Serges</td>
                        <td>SYNATRASE</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Membre</td>
                        <td></td>
                        <td>CIPREL</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Membre</td>
                        <td></td>
                        <td>FRATERNITE</td>
                    </tr>
                </table>

            </div>
            <div class="clear">
            </div>
    
        </div>
        
        <div class="center">
                <h3>Comité de déontologie</h3>
            <div class="row top-50 bottom-50">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>N°</th>
                        <th>Qualité</th>
                        <th>Noms et prénoms</th>
                        <th>Entités</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Président</td>
                        <td>GUESSENND Emilienne</td>
                        <td>GS2E</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Membre</td>
                        <td>AGGREY Stéphane Taylor</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Membre</td>
                        <td></td>
                        <td>SODECI</td>
                    </tr>
                </table>
                
            </div>
            <div class="clear">
            </div>
    
        </div>
    
    </section>
{% endblock %} {% block stylesheets %}

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>

<style>
    .thumb img {
        width: 100%;
        height: auto;
    }
    
    .element-slide {
        width: 550px;
    }
    
    section.tabs .content h2.color-orange {
        color: #f38d31;
    }
    
    a.right.carousel-control {
        /*max-width: 30px;
        right: 15%;*/
    }
    
    .product-slider {
        /*padding: 45px;*/
    }
    
    .product-slider #carousel {
        /*border: 4px solid #1089c0;*/
        margin: 0;
    }
    
    .product-slider #thumbcarousel {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel1 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel2 {
        margin: 12px 0 0;
        padding: 0 15px;
    }
    
    .product-slider #thumbcarousel .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel1 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel2 .item {
        text-align: left;
    }
    
    .product-slider #thumbcarousel .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel1 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel2 .item .thumb {
        /*border: 4px solid #cecece;
        width: 20%;
        margin: 0 2%;*/
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        max-width: 98px;
    }
    
    .product-slider #thumbcarousel .item .thumb:hover {
        border-color: #1089c0;
    }
    /*.product-slider .item img {
        width: 100%;
        height: auto;
    }*/
    
    .carousel-control {
        color: #0284b8;
        text-align: center;
        text-shadow: none;
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 20px;
        top: 23%;
    }
    
    .carousel-control:hover,
    .carousel-control:focus,
    .carousel-control:active {
        color: #333;
    }
    
    .carousel-caption,
    .carousel-control .fa {
        font: normal normal normal 30px/26px FontAwesome;
    }
    
    .carousel-control {
        background-color: rgba(0, 0, 0, 0);
        bottom: auto;
        font-size: 20px;
        left: 0;
        position: absolute;
        top: 30%;
        width: auto;
    }
    
    .rights {
        margin-left: 550px;
    }
    
    .carousel-control.right,
    .carousel-control.left {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
    }
    
    .carousel-control.left {
        margin-left: -5%;
    }
    
    .carousel-control.right {
        margin-right: 20%;
    }
</style>
{% endblock %}