{% extends 'base.html.twig' %}{%block title%}Produits d'Epargne{%endblock%} {% block body %}

<!-- Epargne expresse-->
<section class="box-with-image-left section-top-space">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/time.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Epargne express</h2>

            <h4>Caractéristique</h4>
            <p>Compte d'épargne ouvert à tout moment aux adhérents ou à la demande d'un crédit.</p>

            <h4>Objet</h4>
            <p>Constitution d’une épargne en garantie des crédits express par les adhérents selon les montants définis par l’Assemblée Générale.
            </p>
            <a class="button button-navy-blue" href="{{path('epargne-expresse')}}">Voir plus de détails <i class="fa fa-list"></i></a>


        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne expresse-->

<!-- Epargne ordinaire-->
<section class="box-with-image-right">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/coins.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Epargne ordinaire</h2>

            <h4>Caractéristique</h4>
            <p>Compte d'épargne libre à tout moment à la demande de l'adhérent.</p>

            <h4>Objet</h4>
            <p>Constitution d'une épargne pour l'adhérent.
            </p>
            <a class="button button-navy-blue" href="{{path('epargne-ordinaire')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne ordinaire-->

<!-- Epargne complémentaire -->
<!--section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2> Epargne complémentaire</h2>

            <h4>Caractéristique</h4>
            <p>Epargne constituée par l’adhérent suite à l’octroi d’un crédit ordinaire.</p>

            <h4>Objet</h4>
            <p>Constitution d’une garantie partielle des crédits ordinaires.</p>
            <a class="button button-navy-blue" href="{{path('epargne-complementaire')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargnecomplementaire164.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section-->
<!-- /Epargne complémentaire-->

<!-- Epargne logement -->
<section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2> Epargne logement</h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne libre, ouvert à tout moment, à la demande de l’adhérent.</p>

            <h4>Objet</h4>
            <p>Constitution de l’apport personnel du coût d’acquisition de logement du projet immobilier MA2E.</p>
            <a class="button button-navy-blue" href="{{path('epargne-logement')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/billet-home.png')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Epargne logement-->

<!-- Dépôt à terme simple -->
<section class="box-with-image-right">

    <div class="center">

        <div class="content">

            <h2>Dépôt à terme simple </h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne à terme <br> Capital et intérêts disponibles à l’échéance.</p>

            <h4>Objet</h4>
            <p>Constitution d’épargne à terme selon des durées fixées à la souscription.</p>
            <a class="button button-navy-blue" href="{{path('depot-simple')}}">Voir plus de détails<i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/dats.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Dépôt à terme simple-->

<!-- Dépôt à terme à versements progressifs -->
<section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2>Dépôt à terme à versements progressifs </h2>

            <h4>Caractéristique</h4>
            <p>Compte d’Epargne à terme à versements progressifs<br> Capital et intérêts disponibles à l’échéance.</p>

            <h4>Objet</h4>
            <p>Constitution d’épargne à terme selon des conditions fixées à la souscription.</p>
            <a class="button button-navy-blue" href="{{path('depot-progressif')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/img/epargne-vp.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Dépôt à terme à versements progressifs-->

{% endblock %} {% block stylesheets %} {% endblock %}