{% extends 'base.html.twig' %} {%block title%}Projet immobilier{%endblock%} {% block body %}

<!-- Duplex 5 pièces-->
<section class=" section-top-space">
    <div class="row top-50">
        <div class="text-center">
            <h2 class="text-orange">Projet immobilier: 2ème tranche </h2>
        </div>
    </div>

</section>
<section class="box-with-image-left ">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/projet-immo/duplex-5pieces-3d.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Duplex 5 pièces</h2>
            <small style="color:#002510"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
            <p>
                <strong><span class="color-orange" style="font-size:22px">33 900 000 FCFA</span></strong><br>
                <strong>Apport personnel </strong>: 6 467 228 FCFA<br>
                <strong>Loyer mensuel</strong> : 237 269 FCFA<br>
                <strong>Lot</strong> : 250 m<sup>2</sup>
            </p>

            <a class="button button-navy-blue" href="{{path('duplex-5')}}">Voir plus de détails <i class="fa fa-list"></i></a>


        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Duplex 5 pièces-->

<!-- Duplex 4 pièces-->
<section class="box-with-image-right">

    <div class="center">

        <div class="image" style="background-image: url( '{{asset('_assets/_img/projet-immo/duplex-4pieces-3d.jpg')}}' );">
        </div>

        <div class="content">

            <h2>Duplex 4 pièces</h2>

            <small style="color:#002510"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
            <p>
                <strong><span class="color-orange" style="font-size:22px">24 000 000 FCFA</span></strong><br>
                <strong>Apport personnel </strong>: 4 735 164 FCFA<br>
                <strong>Loyer mensuel</strong> : 177 097 FCFA<br>
                <strong>Lot</strong> : 250 m<sup>2</sup>
            </p>

            <a class="button button-navy-blue" href="{{path('duplex-4')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Duplex 4 pièces-->

<!-- Villa 5 pièces-->
<section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2> Villa 5 pièces</h2>

            <small style="color:#002510"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
            <p>
                <strong><span class="color-orange" style="font-size:22px">16 000 000 FCFA</span></strong><br>
                <strong>Apport personnel </strong>: 3 216 780 FCFA<br>
                <strong>Loyer mensuel</strong> : 118 065 FCFA<br>
                <strong>Lot</strong> : 250 m<sup>2</sup>
            </p>

            <a class="button button-navy-blue" href="{{path('villa-5')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/projet-immo/5pieces-3d.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- Villa 5 pièces-->

<!-- Villa 4 pièces -->
<section class="box-with-image-right">

    <div class="center">

        <div class="content">

            <h2> Villa 4 pièces</h2>

            <small style="color:#002510"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
            <p>
                <strong><span class="color-orange" style="font-size:22px">14 000 000 FCFA</span></strong><br>
                <strong>Apport personnel </strong>: 2 829 672 FCFA<br>
                <strong>Loyer mensuel</strong> : 103 306 FCFA<br>
                <strong>Lot</strong> : 165 m<sup>2</sup>
            </p>

            <a class="button button-navy-blue" href="{{path('villa-4')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/projet-immo/4pieces-3d.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Villa 4 pièces -->

<!-- Villa 3 pièces -->
<section class="box-with-image-left">

    <div class="center">

        <div class="content">

            <h2> Villa 3 pièces</h2>
            <small style="color:#002510"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
            <p>
                <strong><span class="color-orange" style="font-size:22px">9 500 000 FCFA</span></strong><br>
                <strong>Apport personnel </strong>: 1 922 420 FCFA<br>
                <strong>Loyer mensuel</strong> : 66 035 FCFA<br>
                <strong>Lot</strong> : 100 m<sup>2</sup>
            </p>

            <a class="button button-navy-blue" href="{{path('villa-3')}}">Voir plus de détails <i class="fa fa-list"></i></a>

        </div>

        <div class="image" style="background-image: url( '{{asset('_assets/_img/projet-immo/3pieces-3d.jpg')}}' );">
        </div>

        <div class="clear">
        </div>

    </div>

</section>
<!-- /Villa 3 pièces-->
{% endblock %} {% block stylesheets %}
<style>
    .text-green {
        color: #4ba146;
    }
    
    .text-orange {
        color: #f38d31;
        text-decoration: underline;
    }
    
    .button.button-navy-blue {
        padding-bottom: 30px;
    }
</style>

<link href="{{asset('_assets/_css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
<script src="{{asset('_assets/_js/jquery-1.11.min.js')}}"></script>
<script src="{{asset('_assets/_js/bootstrap.3.min.js')}}"></script>
{% endblock %}