{% extends 'base.html.twig' %}{%block title%}Projet Immobilier{%endblock%} {% block body %}

<section class="blog section-top-space">

    <i class="fa fa-newspaper-o background-icon"></i>

    <div class="center">
        <div class="lightBoxGallery">

            <ul class="recent-news">

                <li class="recent-news-single">
                    <div class=" col-lg-4 col-sm-6">
                        <div class="card">
                            <a href="{{asset('_assets/_img/events/1ere-tranche/im.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/1ere-tranche/im.JPG')}}" class="img-gallery"></a>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/1ere-tranche/im1.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/1ere-tranche/im1.JPG')}}" class="img-gallery"></a>
                            </div>
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/1ere-tranche/im2.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/1ere-tranche/im2.JPG')}}" class="img-gallery"></a>
                            </div>
                            <div class="col-md-4">
                                <a href="{{asset('_assets/_img/events/1ere-tranche/im3.JPG')}}" data-gallery=""><img src="{{asset('_assets/_img/events/1ere-tranche/im3.JPG')}}" class="img-gallery"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Cérémonie de remise des clés de l'opération immobilière de la 1ère tranche</h3>
                        <p>
                            Le jeudi 28 décembre 2017, MM. Dominique Kakou, Basile Ebah et Eugène Zadi respectivement Directeur général de la CIE, Directeur Général de la SODECI et Directeur Général Délégué de GS2E, ont procédé à la remise des clés de logements de 180 adhérents
                            de la Mutuelle des Agents de l'Eau et de l'Electicité (MA2E). Cette rencontre qui s'inscrit dans le cadre de l'opération immobilière MA2E, s'est déroulée sur les sites d'AKANDJE de 09h à 11h30 et de SONGON de 15h à 16h30, en
                            présence de plusieurs respnsables des sociétés du Groupe ERANOVE et des entreprises partenaires.
                        </p>
                    </div>
                </li>
            </ul>

            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>


        <div class="clear">
        </div>

    </div>

</section>

{% endblock %} {% block stylesheets %}
<style>
    @media (min-width: 1350px) {
        section.blog .recent-news {
            float: left;
            width: auto;
        }
    }
</style>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('_assets/_css/galerie.min.css')}}">
<script src="{{asset('_assets/_js/galerie.min.js')}}"></script>
{% endblock %}