{% extends 'base.html.twig' %}{%block title%}Simulateur{%endblock%} {% block body %}

<!--Section Simulateur de crédit-->
<section class="agents tabs section-top-space section-gray" id="event">
    <div class="center">
        <!-- Tabs -->
        <h3>Simulateur de crédit</h3>
        <h2>Crédit immobilier</h2>

        <div id="PricingTab">
            <div class="container">
                <div class="row">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="tabco1 ">Type de logement</th>
                                <th class="tabco2">Crédit immmobilier simple avec rachat d'encours de crédit</th>
                                <th class="tabco3">Crédit immmobilier simple sans rachat d'encours de crédit</th>
                                <th class="tabco4">Crédit immmobilier différé avec rachat d'encours de crédit</th>
                                <th class="tabco5">Crédit immmobilier différé sans rachat d'encours de crédit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center row-title" colspan="5">Logement du site SONGON KASSEMBLE</td>
                            </tr>
                            <tr>
                                <td class="tabco1">3 pièces jumelées Type SOCIAL</td>
                                <td class="tabco2" title="Cliquez pour consulter" data-toggle="modal" data-target="#creditSimpleAvec"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco3" title="Cliquez pour consulter" data-toggle="modal" data-target="#creditSimpleSans"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco4" title="Cliquez pour consulter" data-toggle="modal" data-target="#creditDifereAvec"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco5" title="Cliquez pour consulter"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="tabco1">3 pièces jumelées Type ECO</td>
                                <td class="tabco2" title="Cliquez pour consulter" data-toggle="modal" data-target="#eco3SimpleAvec"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco3" title="Cliquez pour consulter" data-toggle="modal" data-target="#eco3SimpleSans"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco4" title="Cliquez pour consulter" data-toggle="modal" data-target="#eco3DiffereAvec"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco5" title="Cliquez pour consulter"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="tabco1">4 pièces jumelées Type SOCIAL</td>
                                <td class="tabco2" title="Cliquez pour consulter"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco3" title="Cliquez pour consulter" data-toggle="modal" data-target="#4SimpleSans"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                                <td class="tabco4" title="Cliquez pour consulter"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco5" title="Cliquez pour consulter" data-toggle="modal" data-target="#4DiffereSans"><i class="fa fa-check rightSign" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="text-center row-title" colspan="5">Logement du site AKANDJE (BINGERVILLE)</td>
                            </tr>
                            <tr>
                                <td class="tabco1">3 pièces en bande Type SOCIAL</td>
                                <td class="tabco2"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco3"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco4"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco5"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="tabco1">4 pièces individuelles Type ECO</td>
                                <td class="tabco2"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco3"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco4"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                                <td class="tabco5"><i class="fa fa-times crossSign" aria-hidden="true"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--row-->
            </div>
            <!--container-->
        </div>
        <!--PricingTab-->


        <div class="clear">
        </div>
        <!-- / End Tabs-->

    </div>

</section>
<!--Section Simulateur de Crédit-->
<!-- _____________3pièces jumelées SONGON _____________________ -->

<div>

    <!--Crédit simple avec rachat-->
    <div class="modal fade" id="creditSimpleAvec" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier simple sans rachat d'encours de crédit (3 pièces jumelées SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-simple.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-simple-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Crédit simple sans rachat-->

    <div class="modal fade" id="creditSimpleSans" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier simple sans rachat d'encours de crédit (3 pièces jumelées SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-simple-sans.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-simple-sans-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Crédit différé avec rachat-->

    <div class="modal fade" id="creditDifereAvec" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier différé avec rachat d'encours de crédit (3 pièces jumelées SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-differe.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-social-songon-differe-details.png')}}" alt="">
                        </div>
                    </div>

                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- _____________3pièces ECO SONGON _____________________ -->

<div>

    <!--Crédit simple avec rachat-->
    <div class="modal fade" id="eco3SimpleAvec" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier simple sans rachat d'encours de crédit (3 pièces type ECO - SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-simple-avec.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-simple-avec-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Crédit simple sans rachat-->

    <div class="modal fade" id="eco3SimpleSans" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier simple sans rachat d'encours de crédit (3 pièces type ECO - SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-simple-sans.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-simple-sans-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Crédit différé avec rachat-->

    <div class="modal fade" id="eco3DiffereAvec" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier différé avec rachat d'encours de crédit (3 pièces type ECO - SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-differe-avec.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/3pieces-eco-songon-differe-avec-details.png')}}" alt="">
                        </div>
                    </div>

                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- _____________4 pièces SONGON _____________________ -->

<div>


    <!--Crédit simple sans rachat-->

    <div class="modal fade" id="4SimpleSans" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier simple sans rachat d'encours de crédit (4 pièces jumelées - SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/4piece-simple.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/4piece-simple-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Crédit différé sans rachat-->

    <div class="modal fade" id="4DiffereSans" role="dialog" style="top:100px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Crédit immobilier différé sans rachat d'encours de crédit (4 pièces jumelées - SONGON)</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="left-100"> <i class="fa fa-exclamation-triangle"></i> <i> Les informations de crédit représentées ici sont donnés à titre d'exemple.<br>
                            Pour toute simulation réelle de crédit, veuillez-vous adresser à votre gestionnaire de crédit à la MA2E.<br></i></p>
                    </div>
                    <div class="row bottom-50">
                        <div class="col-md-offset-3">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/4pieces-differe.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <img class="img-responsive" src="{{asset('_assets/_img/simulateur/4pieces-differe-details.png')}}" alt="">
                        </div>
                    </div>
                    <div class="row" align="center">
                        <p class="top-50 ">Détails des modalités de remboursement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Modal crédit immobilier simple avec rachat-->


{% endblock %} {% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #PricingTab {
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    #PricingTab h2 {
        font-weight: 700;
        font-size: 35px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    
    .tabco1 {
        background: #fff;
        width: 30%;
        padding: 10px !important;
    }
    
    th.tabco1 {
        background: #fff;
        padding: 32px 10px !important;
        font-size: 18px;
        /*text-transform: uppercase;*/
        color: #000;
    }
    
    .tabco2 {
        background: #4ba146;
        text-align: center;
        color: #fff;
    }
    
    th.tabco2 {
        background: #4ba146;
        padding: 20px 5px !important;
        font-size: 18px;
        /*text-transform: uppercase;*/
    }
    
    .tabco3 {
        background: #ffffff;
        text-align: center;
        color: #fff;
    }
    
    th.tabco3 {
        background: #c1cec0;
        padding: 20px 10px !important;
        font-size: 18px;
        /*text-transform: uppercase;*/
    }
    
    .tabco4 {
        background: #f38d31;
        text-align: center;
        color: #fff;
    }
    
    th.tabco4 {
        background: #f38d31;
        padding: 20px 10px !important;
        font-size: 18px;
        /*text-transform: uppercase;*/
    }
    
    .tabco5 {
        background: #ffffff;
        text-align: center;
        color: #fff;
    }
    
    th.tabco5 {
        background: #d2c2b3;
        padding: 20px 10px !important;
        font-size: 18px;
        /*text-transform: uppercase;*/
        color: #fff;
    }
    
    .rightSign {
        color: #1ab921;
        background: #fff;
        border-radius: 45px;
        padding: 5px;
        border: 2px solid;
        box-shadow: 0px 0px 11px -5px #000;
    }
    
    .crossSign {
        color: #de2315;
        background: #fff;
        border-radius: 45px;
        padding: 5px 7px;
        border: 2px solid;
        box-shadow: 0px 0px 11px -5px #000;
    }
    
    .White-Yellow {
        border-top: 0;
        border-left: 75px solid #fff;
        border-right: 75px solid #FEF200;
        height: 5px;
        width: 0px;
    }
    
    h5.card-title {
        text-decoration: none;
        color: #969aae;
    }
    
    .none:hover {
        text-decoration: none;
    }
    
    td.tabco2,
    td.tabco3,
    td.tabco4,
    td.tabco5 {
        cursor: pointer;
    }
    
    .left-100 {
        margin-left: 100px;
    }
</style>
{% endblock %}