{% extends 'base.html.twig' %}{%block title%}Projet Immobilier{%endblock%} {% block body %}

<section class="blog section-top-space">

    <i class="fa fa-newspaper-o background-icon"></i>

    <div class="center">
        <div class="lightBoxGallery">

            <ul class="recent-news">

                <li class="recent-news-single">
                    <a href="{{asset('_assets/_img/projet-immo/5pieces-3d.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/projet-immo/5pieces-3d.jpg')}}" class="img-gallery"></a>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{asset('_assets/_img/projet-immo/plan-5pieces.jpg')}}" data-gallery=""><img src="{{asset('_assets/_img/projet-immo/plan-5pieces.jpg')}}" class="img-gallery"></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>

        <div class="sidebar">

            <div class="widget">

                <h3>Villa 5 pièces</h3>
                <div style=" margin-bottom: 20px;">
                        <small style="color:#002510;"> <i class="fa fa-info-circle"></i> Les informations initiales de l'année 2015 sont succeptibles de varier.</small>
                </div>


                <div class="folded">
                    <h2 class="back-orange">16 000 000 FCFA</h2>
                </div>
                <div class="folded-lot">
                    <h2 class="back-white">Lot : 250 m<sup>2</sup></h2>
                </div>
                <div class="row top-50">
                    <table class="table ">
                        <tr>
                            <td>Apport Personnel</td>
                            <td>3 216 780 FCFA</td>
                        </tr>
                        <tr>
                            <td>Loyer mensuel</td>
                            <td>118 065 FCFA</td>
                        </tr>
                    </table>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">
                                CARACTERISTIQUES
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Chambre Parents</td>
                        <td>13,40 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Chambre Enfant 1</td>
                        <td>12,56 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Chambre Enfant 2</td>
                        <td>12,15 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Salle d'eau Parents</td>
                        <td>4,2 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Salle d'eau Enfant</td>
                        <td>04,2 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Séjour 1</td>
                        <td>14,40 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Séjour 1</td>
                        <td>9,0 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Cuisine</td>
                        <td>11,45 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Terrasse</td>
                        <td>8,23 m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Dégagement</td>
                        <td>6,1 m<sup>2</sup></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>106,64 m<sup>2</sup></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

        <div class="clear">
        </div>

    </div>

</section>

{% endblock %} {% block stylesheets %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('_assets/_css/galerie.min.css')}}">
<script src="{{asset('_assets/_js/galerie.min.js')}}"></script>
{% endblock %}