{% trans_default_domain 'FOSUserBundle' %} {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }} {{ form_widget(form) }}

<div class="row form-group">
    <label class="control-label col-md-4">Adresse email</label>
    <div class="col-md-8">
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Adresse email'}}) }}
    </div>
</div>
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}