{% extends 'layouts/layout-auth.html.twig' %} {%block title%}Autentification{%endblock%}{% block body %}


<section class="box-with-image-right" id="mot-PCA">

    <div class="center">

        <div class="image height-fix" style="background-image: url( '{{asset('_assets/_img/home.jpg')}}' );">
        </div>

        <div class="content text-justify">

            <h3>Mot de passe oublié</h3>
            <p>Pour retrouver votre mot de passe oublié, veuillez entrer votre code adhérent et votre adresse email. <br> Vous recevrez par mail un lien pour la réinitialisation de votre mot de passe. <br> Ce lien est valide pendant 5 min.
            </p>

            <div class="top-50">

                <div class="row">

                    <div class="col-md-9">

                        {% for message in app.session.flashbag.get('success') %}
                        <div class="row">
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
                            </div>
                        </div>
                        {% endfor %} {% for message in app.session.flashbag.get('error') %}
                        <div class="row">
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <form method="POST" class="form" action="{{path('actionForgotPassword')}}">
                    <div class=" col-md-9">
                        <div class="row form-group">
                            <input type="text" placeholder="Code adhérent" class="form-control" name="code_adherent" required="">
                        </div>
                        <div class="row form-group">
                            <input type="email" placeholder="Adresse email" class="form-control" name="email" required>
                        </div>
                        <div class="row form-group">
                            <input class="btn btn-success form-control" type="submit" value="Retrouver mon mot de passe" style="height: 50px;">
                        </div>
                    </div>
                </form>

            </div>

        </div>

        <div class="clear">
        </div>

    </div>

</section>


{% endblock %} {% block stylesheets %}
<link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
<script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<style>
    /*a.button.button-navy-blue {
        padding-bottom: 30px;
    }*/
    
    .section h3 {
        color: #00a045;
        font-weight: 800;
        font-size: 13px;
        margin-left: 2px;
        border-bottom: 3px solid #00a045;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    
    .height-fix {
        min-height: 700px;
    }
    
    .center {
        padding: 0;
    }
    .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
</style>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

{%endblock%}