{% extends 'layouts/layout-auth.html.twig' %} {%block title%}Authentification{%endblock%}{% block body %}{% trans_default_domain 'FOSUserBundle' %}


<section class="box-with-image-right" id="mot-PCA">

    <div class="center">

        <div class="image height-fix" style="background-image: url( '{{asset('_assets/_img/home.jpg')}}' );">
        </div>

        <div class="content text-justify">

            <h3>Connexion</h3>
            <p>Cet espace est reservé uniquement aux adhérents de la Mutuelle des Agents de l'Eau et de l'Electricité (MA2E).<br> Entrez vos identifiants pour accéder à la plateforme sinon soumettez votre demande d'accès au site <a href="{{path('register')}}">ici</a>                .
            </p>

            <div class="top-50">

                <div class="row">
                        {% if error %}
                        <div class="row">
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert"></button>
                                <p>
                                    <stronng>{{ error.messageKey|trans(error.messageData, 'security') }}</stronng>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

                    {% for message in app.session.flashbag.get('success') %}
                    <div class="row">
                        <div class="alert alert-block alert-success fade in">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <p>
                                <stronng>{{message}}</stronng>
                            </p>
                        </div>
                    </div>
                    {% endfor %} {% for message in app.session.flashbag.get('error') %}
                    <div class="row">
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <p>
                                <stronng>{{message}}</stronng>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <form method="post" class="form" action="{{ path('fos_user_security_check') }}">
                    <div class=" col-md-9">
                        <div class="row form-group">

                            <input type="text" placeholder="Adresse email" class="form-control" name="_email">
                        </div>
                        <div class="row form-group">
                            <input type="password" placeholder="Mot de passe" class="form-control" name="_password" autocomplete="off">
                        </div>
                        <div class="row form-group">
                            <input class="btn btn-success form-control" type="submit" value="Se connecter" style="height: 50px;">
                            <!--a href="{{path('homepage')}}" class="btn btn-success form-control" style="height: 50px;padding-top:15px">Se connecter</a-->
                        </div>
                    </div>
                </form>

            </div>

            <div class="row">
                <div class=" col-md-9" style="padding-top: 10px;">
                    <div class="col-md-6">
                        <p class="pull-left"><a href="{{path('forgot_password')}}">Mot de passe oublié?</a></p>
                    </div>
                    <!--div class="col-md-6">
                        <p class="pull-right"><a href="{{path('register')}}">Nouvel utilisateur</a></p>
                    </div-->
                </div>
            </div>

        </div>

        <div class="clear">
        </div>

    </div>

</section>


{% endblock %} {% block stylesheets %}
<link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
<script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<style>
    /*a.button.button-navy-blue {
        padding-bottom: 30px;
    }*/
    
    .section h3 {
        color: #00a045;
        font-weight: 800;
        font-size: 13px;
        margin-left: 2px;
        border-bottom: 3px solid #00a045;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    
    .height-fix {
        min-height: 700px;
    }
    
    .center {
        padding: 0;
    }
    .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
</style>

{%endblock%}