{% extends 'layouts/layout-auth.html.twig' %} {%block title%}Autentification{%endblock%}{% block body %}


<section class="box-with-image-right" id="">

    <div class="center">

        <div class="image height-fix" style="background-image: url( '{{asset('_assets/_img/home.jpg')}}' );">
        </div>

        <div class="content text-justify">

            <h3>Réinitialisation du mot de passe</h3>
            <p>Formulaire de réinitialisation du mot de passe</p>

            <div class="col-md-9">

                {% for message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="col-md-9">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
                        </div>
                    </div>
                </div>
                {% endfor %} {% for message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="col-md-9">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="top-50">

                <form method="post" class="form" action="{{path('resetActionPassword')}}">
                    <input type="hidden" readonly value="{{email}}" name="_mail">
                    <div class="row form-group">
                        <div class=" col-md-9">
                            <div id="myPassword"></div>
                            <input type="password" minlength="8" placeholder="Choisissez un mot de passe" id="password" name="password" class="form-control" required>
                            <div id="msg-pwd"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col-md-9">
                            <input type="password" minlength="8" placeholder="Confirmer votre mot de passe" id="confirme_pwd" name="confirme_pwd" class="form-control" required>
                            <div id="c-pwd"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col-md-9">
                            <input class="btn btn-success form-control" type="submit" value="Valider" id="btn-valider" style="height: 50px;">
                        </div>
                    </div>
            </div>
            </form>

        </div>

    </div>

    <div class="clear">
    </div>

    </div>

</section>


{% endblock %} {% block stylesheets %}
<link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
<script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<style>
    /*a.button.button-navy-blue {
        padding-bottom: 30px;
    }*/
    
    .section h3 {
        color: #00a045;
        font-weight: 800;
        font-size: 13px;
        margin-left: 2px;
        border-bottom: 3px solid #00a045;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    
    .height-fix {
        min-height: 700px;
    }
    
    .center {
        padding: 0;
    }
    
    .success {
        color: #00a045;
    }
    
    .danger {
        color: #ea0a0a;
    }
    
    .warning {
        color: #ccb606;
    }
    .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
</style>

<script>
    $(document).ready(function(e) {
        //Action du champ username
        $('#username').blur(function(e) {
            var username = $('#username').val();
            //alert(username);

            //Requête Ajax
            $.ajax({
                url: "{{path('checkUsername')}}",
                type: "post",
                data: 'username=' + username,

                //Action en cas de succès
                success: function(res) {

                    if (res == 0) {
                        $('#msg').html('<i class="fa fa-check fa-2x fa-check success"></i>');
                    } else {
                        $('#msg').html('<i class="fa fa-times fa-2x fa-check danger"></i>');
                    }
                }
            });
        });

        $('#password').blur(function(e) {
            var password = $('#password').val();
            //Sont obligatoires, des lettres (minuscule comme majuscule) et des chiffres
            //Caractères spéciaux interdits
            if ((/^(?=.*[a-z])(?=.*\d)[a-zA-Z\d]{8,}$/).test(password)) {
                $('#btn-valider').prop('disabled', false);
                $('#msg-pwd').html('<div class="alert alert-success"><i class="fa fa-check fa-check success"></i>  Le mot de passe est correct!</div>');
            } else {
                $('#btn-valider').prop('disabled', true);
                $('#msg-pwd').html('<div class="alert alert-danger"><i class="fa fa-circle"></i> Le mot de passe doit contenir au moins une lettre minuscule et une lettre majuscule <br> <i class="fa fa-circle"></i> Le mot de passe doit contenir au moins un chiffre <br> <i class="fa fa-circle "></i> Le mot de passe ne doit pas contenir des caractères spéciaux <br> <i class="fa fa-circle"></i> Le mot de passe doit contenir au moins 8 caractères</div>');
            }


        });
        $('#confirme_pwd').blur(function(e) {
            var c_password = $('#confirme_pwd').val();
            var password = $('#password').val();
            //Assurer la concordance avec le champs mot de passe

            if (c_password != password) {
                $('#btn-valider').prop('disabled', true);
                $('#c-pwd').html('<div class="alert alert-danger"><i class="fa fa-circle"></i>Les mots de passe ne sont pas identiques!</div>');

            } else {
                if (password != '') {
                    $('#btn-valider').prop('disabled', false);
                    $('#c-pwd').html('<div class="alert alert-success"><i class="fa fa-check fa-check success"></i> Les mots de passe sont identiques</div>');
                }
            }

        });
    });
</script>
{%endblock%}