<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>MA2E | {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Signika:300,400,600,700" />
    <link rel="stylesheet" type="text/css" href="{{asset('_assets/_libs/font-awesome/css/font-awesome.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('_assets/_libs/no-ui-slider/jquery.nouislider.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('_assets/_libs/animate.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('_assets/_css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('_assets/_css/bootstrap.min.css')}}" /> {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('_assets/_img/logo.png') }}" />
</head>

<body class="font-green">

    <!--div id="loader">

        <div class="loader-spinner">
        </div>

    </div-->

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row top-50">
                <img src="{{ asset('_assets/_img/logo_ma2e.jpg') }}" alt="" class="img-responsive">
            </div>
            <div class="row top-50">
                <div class="col-md-6">
                    <a href="{{path('login')}}" class="btn-white pull-right">Se connecter</a>
                </div>
                <div class="col-md-6">
                    <a href="{{path('register')}}" class="btn-white">S'inscrire</a>
                </div>
            </div>

        </div>

    </div>



    <div id="fb-root"></div>

    {% block javascripts %}

    <style>
        body.font-green {
            background-color: #4ba146;
        }
        
        .btn-white {
            display: inline-block;
            margin-bottom: 0;
            width: 200px;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            /*Btn-lg*/
            padding: 16px 22px;
            line-height: 1.3333333;
            border-radius: 6px;
            /*btn-default*/
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
    </style>
    <script src="{{ asset('_assets/_libs/jquery.js') }}"></script>
    <script src="{{ asset('_assets/_js/customize.js') }}"></script>
    <script src="{{ asset('_assets/_js/bootstrap.3.min.js') }}"></script>
    <script src="{{ asset('_assets/_js/jquery-1.11.min.js') }}"></script>
    {% endblock %}
</body>

</html>